.iconDesign {
    padding: 0% 1.5% 0% 1.5%;
    font-size: 16px;
    float: right;
}

.taskDetailsView {
    margin: 4%;
    padding: 0.5%;
    border-radius: 2px;
    transition: all .3s linear;
}

.taskDetailsView:hover {
    background-color: rgba(48, 48, 48, 0.058);
}

#editIcon {
    color: rgb(125, 205, 125);
}

#deleteIcon {
    color: rgb(225, 94, 94);
}

#editIcon:hover {
    color: green;
    cursor: pointer;
}

#deleteIcon:hover {
    color: red;
    cursor: pointer;
}